@font-face {
  font-family: 'Futura' ;
  font-style: normal;
  src: url(../April/assets/font/Futura-Font/Futura\ Cyrillic\ Bold.ttf) format('ttf')
}

body {
  font-family: 'Raleway';
  background-image: url('assets/ligh_bg01.jpg');
  background-size: fill;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
}

[data-bs-theme="dark"] body {
  background-image: url('assets/dark_bg02.jpg');
  background-size: fill;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #ffff;
}
[data-bs-theme="dark"]
 .mytheme-text{
      font-weight:bolder;
      color:#FF4EDB !important; 
}
[data-bs-theme="light"] .mytheme-text{
      font-weight:bolder;
      color: #fff !important;
}
blockquote{
  font-weight:bolder;
  color:#FF4EDB !important; 
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FF4EDB' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#themeBtnText,
#darkToggleBtn {
  color: #FF4EDB;
  border-color: #FF4EDB;
}

#darkToggleBtn:hover,
#darkToggleBtn:focus {
  background-color: transparent !important;
  color: #FF4EDB !important;
  border-color: #FF4EDB !important;
  box-shadow: none;
}

.custom-toggler {
  border-color: #FF4EDB;
}


.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(255, 78, 219, 0.5);
  border-color: #FF4EDB;
  outline: none;
}

.text-purple-black {
  color: rgba(113, 67, 204, 0.8);
  font-weight:bold;
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.text-purple-black:hover {
  font-weight: bold;
  color: rgba(113, 67, 204, 0.8);
  transform: scale(1.05);
}

.text-purple {
  color: rgba(113, 67, 204, 0.8);
  font-family: 'Pricedown';
  font-size:23px !important;
  font-weight: bold;
}

.brand-txt-col {
  color: #FF4EDB;

}

.bg-newsfeed {
  background-color: #FF4EDB;
  color: white;
  padding: 10px;
  border-radius: 1rem !important;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

.bg-event {
  display: flex;
  background-color: #FF4EDB;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

#brand-btns {
  background-color: rgba(113, 67, 204, 0.8);
  color: #FF4EDB;
  font-weight: bold !important;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#brand-btns:hover,
#brand-btns:focus {
  color: rgba(113, 67, 204, 0.8) !important;

}

#hero-img {
  max-width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem !important;
  transition: transform 0.3s ease;

}

.hero-text {
  text-align: center;
}

.hero-text p {
  font-size: 1.2rem;
}
#events .card {
  border-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FF4EDB;
}
.p .text-center{
  font-size: 1.3rem;
}
.card-body {
  padding: 1.5rem;
}

.btn-primary {
  background-color: rgba(113, 67, 204, 0.8);
  border-radius: 25px;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.5rem;
}

.btn-primary:hover {
  background-color: #FF4EDB !important;
  border: none;
  color: white !important;
}

@media (max-width: 768px) {
  .card-img-top {
    height: 200px;
  }

  .card-title {
    font-size: 1.3rem;
  }
}
#lightbox-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#lightbox-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}
.btn-g{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 50px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10000;
}
#prev-btn{
  left: 30px;
}
#next-btn{
  right: 30px;
}
.zoom-in {
  animation: zoomIn 0.4s ease;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.previos-img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

}

.previos-img:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 18px rgba(113, 80, 146, 0.3);

}
.previos-img {
  border-radius: 7px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  height: 300px;
  object-fit: cover;
}

.card:hover .previos-img {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(113, 80, 146, 0.3);
  /* subtle purple glow */
}

.copy2 {
  display: none;
  /* Hide the copy text in the footer for large screen */
}

.copy1 {
  margin-top: 55px !important;
}


.promo-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 420px;
}


.logo h5{
  font-family: "Futura";
  padding-left: 0 !important;
}

/* Only on large screens: allow taller height */
@media (min-width: 992px) {
  .promo-img {
    max-height: 560px;
  }
}


.promo-section ul {
  font-size: 1.3rem;
  font-weight: bold;
}

.promo-section {
  padding-bottom: 56px !important;
}

.promo-section ul li, p {
  font-size: 1.2rem;
}

#tickets-btn-sec {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 0 !important;
}

#tickets-btn-sec h2 {
  display: none;
}

footer {
  background-color: #FF4EDB;
  color: #fff;
   font-weight: normal;
  padding-top: 2.2rem;
  padding-bottom: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size: 19px !important;
}

footer p,
footer a {
  
  color:black;
  transition: all 0.3s ease;
  text-decoration: none;
}

footer p.fw-bold {
  color: rgba(38, 6, 100, 0.8);
  font-size: 1.4rem !important;
}

footer a:hover {
  color: rgba(38, 6, 100, 1);
  font-weight: bold;
  transform: scale(1.05);
  text-decoration: none;
}

footer img {
  max-width: 160px;
  border-radius: 1rem;
}

.footer_txt {
  font-size: 18px;
}

@media (max-width: 768px) {
  .promo-section ul li{
    font-size: 0.9rem !important;
    padding: 9px  !important;
    
  }
  .promo-section {
    padding-bottom: 10px !important;
  }
  #tickets-btn-sec h2 {
    display: block;
  }

  footer {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  footer img {
    max-width: 90px;
    margin-bottom: 0.9rem;
  }

  footer p,
  footer a {
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
  }

  footer p.fw-bold {
    font-size: 1.1rem;
  }

  footer .d-flex {
    gap: 0.5rem !important;
    margin-top: 0.5rem;
  }

  .copy1 {
    display: none;
  }

  .copy2 {
    display: block !important;
    font-size: 0.9rem;
    margin-top: 3px !important;
  }

  footer p {
    font-size: 1.2rem;
  }
}

.social-icon i {
  font-size: 1.8rem;
  color: #715092;
  transition: all 0.3s ease;
}

.social-icon:hover i {
  color: rgba(38, 6, 100, 1);
  /* darker purple */
  transform: scale(1.2);
}

@media (max-width: 360px) {
  .navbar-nav .nav-link {
    font-size: 0.8rem;
    /* smaller text */
    padding: 0.3rem 0.5rem;
    /* less padding */
  }

  #darkToggleBtn {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
   .text-purple-black{
    font-size: 1.8rem !important;
    /* smaller text */
   }
  .logo h5 {
    font-size: 1rem;
    /* reduce logo text */
  }

  .navbar-toggler {
    padding: 0.25rem 0.4rem;
  }
}

@media (max-width: 400px) {
  .navbar-nav .nav-link {
    font-size: 0.8rem;
    /* smaller text */
    padding: 0.3rem 0.5rem;
    /* less padding */
  }
  .text-purple-black{
    font-size: 1.8rem !important;
    /* smaller text */
   }
  #darkToggleBtn {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .logo h5 {
    font-size: 1.3rem !important ;
    /* reduce logo text */
  }

  .navbar-toggler {
    padding: 0.25rem 0.4rem;
  }
}

@media (max-width: 414px) {
  .navbar-nav .nav-link {
    font-size: 0.8rem;
    /* smaller text */
    padding: 0.3rem 0.5rem;
    /* less padding */
  }
  .text-purple-black{
    font-size: 1.5rem !important;
    /* smaller text */
   }
  #darkToggleBtn {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .logo h5 {
    font-size: 1.2rem !important;
    /* reduce logo text */
  }

  .navbar-toggler {
    padding: 0.25rem 0.4rem;
  }
}